<div class="starter-template">
  <h1>Welcome to Sprite's Blog Page</h1>
  <%= image_tag("spritebanner.JPG", :alt => "Sprite", width: 1000,) %>
  <p class="lead">It may not look like it, but she's pretty thrilled you're here.</p>
  <p> Hey there! I'm Sprite. Nothing like a warm sunny spot for a Sunday snooze. Want to find out more about me?</p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
